src/META-INF/wsdl/localhost_8080/AerolineaAviancaWS/aerolineaAviancaws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.aerolinea.ecutravel.espe.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.aerolinea.ecutravel.espe.edu.ec/" name="aerolineaAviancaws">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.aerolinea.ecutravel.espe.edu.ec/" schemaLocation="http://localhost:8080/AerolineaAviancaWS/aerolineaAviancaws?xsd=1"/>
</xsd:schema>
</types>
<message name="traerBoletosPorPersona">
<part name="parameters" element="tns:traerBoletosPorPersona"/>
</message>
<message name="traerBoletosPorPersonaResponse">
<part name="parameters" element="tns:traerBoletosPorPersonaResponse"/>
</message>
<message name="retrieveVuelosByPara">
<part name="parameters" element="tns:retrieveVuelosByPara"/>
</message>
<message name="retrieveVuelosByParaResponse">
<part name="parameters" element="tns:retrieveVuelosByParaResponse"/>
</message>
<message name="registrarBoleto">
<part name="parameters" element="tns:registrarBoleto"/>
</message>
<message name="registrarBoletoResponse">
<part name="parameters" element="tns:registrarBoletoResponse"/>
</message>
<portType name="aerolineaws">
<operation name="traerBoletosPorPersona">
<input wsam:Action="http://ws.aerolinea.ecutravel.espe.edu.ec/aerolineaws/traerBoletosPorPersonaRequest" message="tns:traerBoletosPorPersona"/>
<output wsam:Action="http://ws.aerolinea.ecutravel.espe.edu.ec/aerolineaws/traerBoletosPorPersonaResponse" message="tns:traerBoletosPorPersonaResponse"/>
</operation>
<operation name="retrieveVuelosByPara">
<input wsam:Action="http://ws.aerolinea.ecutravel.espe.edu.ec/aerolineaws/retrieveVuelosByParaRequest" message="tns:retrieveVuelosByPara"/>
<output wsam:Action="http://ws.aerolinea.ecutravel.espe.edu.ec/aerolineaws/retrieveVuelosByParaResponse" message="tns:retrieveVuelosByParaResponse"/>
</operation>
<operation name="registrarBoleto">
<input wsam:Action="http://ws.aerolinea.ecutravel.espe.edu.ec/aerolineaws/registrarBoletoRequest" message="tns:registrarBoleto"/>
<output wsam:Action="http://ws.aerolinea.ecutravel.espe.edu.ec/aerolineaws/registrarBoletoResponse" message="tns:registrarBoletoResponse"/>
</operation>
</portType>
<binding name="aerolineawsPortBinding" type="tns:aerolineaws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="traerBoletosPorPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveVuelosByPara">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarBoleto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="aerolineaAviancaws">
<port name="aerolineawsPort" binding="tns:aerolineawsPortBinding">
<soap:address location="http://localhost:8080/AerolineaAviancaWS/aerolineaAviancaws"/>
</port>
</service>
</definitions>