src/META-INF/wsdl/localhost_8080/AerolineaAviancaWS/aerolineaAviancaws.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.aerolinea.ecutravel.espe.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.aerolinea.ecutravel.espe.edu.ec/">

<xs:element name="asiento" type="tns:asiento"/>

<xs:element name="boleto" type="tns:boleto"/>

<xs:element name="registrarBoleto" type="tns:registrarBoleto"/>

<xs:element name="registrarBoletoResponse" type="tns:registrarBoletoResponse"/>

<xs:element name="retrieveVuelosByPara" type="tns:retrieveVuelosByPara"/>

<xs:element name="retrieveVuelosByParaResponse" type="tns:retrieveVuelosByParaResponse"/>

<xs:element name="traerBoletosPorPersona" type="tns:traerBoletosPorPersona"/>

<xs:element name="traerBoletosPorPersonaResponse" type="tns:traerBoletosPorPersonaResponse"/>

<xs:element name="vuelo" type="tns:vuelo"/>

<xs:complexType name="retrieveVuelosByPara">
<xs:sequence>
<xs:element name="inicio" type="xs:string" minOccurs="0"/>
<xs:element name="fin" type="xs:string" minOccurs="0"/>
<xs:element name="origen" type="xs:string" minOccurs="0"/>
<xs:element name="destino" type="xs:string" minOccurs="0"/>
<xs:element name="numPer" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveVuelosByParaResponse">
<xs:sequence>
<xs:element name="return" type="tns:vuelo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vuelo">
<xs:sequence>
<xs:element name="aerolinea" type="xs:string" minOccurs="0"/>
<xs:element name="ciudadDestino" type="xs:string" minOccurs="0"/>
<xs:element name="ciudadOrigen" type="xs:string" minOccurs="0"/>
<xs:element name="fechaFin" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaInicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="precio" type="xs:decimal" minOccurs="0"/>
<xs:element name="vueCodigo" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerBoletosPorPersona">
<xs:sequence>
<xs:element name="persona" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traerBoletosPorPersonaResponse">
<xs:sequence>
<xs:element name="return" type="tns:boleto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="boleto">
<xs:sequence>
<xs:element name="asiCodigo" type="tns:asiento" minOccurs="0"/>
<xs:element name="bolCodigo" type="xs:int" minOccurs="0"/>
<xs:element name="paquete" type="xs:integer" minOccurs="0"/>
<xs:element name="persona" type="xs:integer" minOccurs="0"/>
<xs:element name="vueCodigo" type="tns:vuelo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="asiento">
<xs:sequence>
<xs:element name="asiCodigo" type="xs:int" minOccurs="0"/>
<xs:element name="numero" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarBoleto">
<xs:sequence>
<xs:element name="persona" type="xs:string" minOccurs="0"/>
<xs:element name="paquete" type="xs:string" minOccurs="0"/>
<xs:element name="numPersonas" type="xs:string" minOccurs="0"/>
<xs:element name="idVuelo" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarBoletoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>